<header class="bar bar-nav">
  <h1 class="title">EventXtra</h1>
</header>

<div class="content">
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        <%= link_to "Events", events_path, :class => "navigate-right", :data => {:transition => "slide-in"} %>
      </li>
    </ul>
  </div>
</div>