<%= render "topbar" %>

<div class="home-form">
    <div class="home-hero">
      <div class="inner cover">
        <h1 class="cover-heading" style="margin: 200px 0 100px">Getting Start</h1>
        <p class="lead">
          <%= link_to "Create event", new_event_path, :class => "btn btn-lg btn-default" %>
        </p>
      </div>
    </div>
</div>
