<%= render "topbar" %>

<div class="container">
  
  <%= render :partial => "attendee_imports/form", :locals => {:attendee_import => @attendee_import, :event => @event, :attendee_count => @attendee_count} %>

  <%= link_to "Back", event_path(@event) %>
</div>


